{% extends 'espace-client/layout.html.twig' %}

{% block title %}Espace client{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Bienvenue {{ app.user.prenom }} !</h1>
        <br>
        <h2> Vous êtes actuellement dans l'espace client.</h2>
    </div>

{% endblock %}
