{% extends 'admin/layout.html.twig' %}

{% block title %}Nouvelle Offre{% endblock %}

{% block body %}
    <div class="row">
         <div class="col-md-12">
                 <div class="full">
                    <div class="heading_main text_align_center">
                        <h2><span class="theme_color"></span>Ajouter une nouvelle offre</h2>
                    </div>
                 </div>
         </div>
    </div>

    {{ include('offer/_form.html.twig') }}

    <br>
    <a href="{{ path('offer_public') }}">Annuler</a>
    <br>
    <p></p>
{% endblock %}
