{% extends 'admin/layout.html.twig' %}

{% block title %}Espace administration{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Bienvenue {{ app.user.prenom }} !</h1>
        <br>
        <h2> Vous êtes actuellement dans l'espace d'administration.</h2>
    </div>

{% endblock %}
